* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    color: #f0f0f0;
    padding-top: 20px;
    margin-top: 50px;
}

.center {
    justify-content: center;
    text-align: center;
}