<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" id="picture1">
        <!-- <img src="https://lh3.googleusercontent.com/gpXpMNLYh1NGj0xJqFjBsx70J8Tqmnq8TFgOcf1mdQE0omN_gpxEKGYvqvucefAi7L2X5Z4Vo7lsgioe=s1600" alt="Random first slide"> -->
      </div>
      <div class="carousel-caption">
        <h3>Brice Morgat</h3>
        <p>Développeur d'application Junior</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" id="picture2">
          <!-- <img id="image1"src="https://lh3.googleusercontent.com/oJT-qxcYQpAvYaKdLfUDS5i-69FuCuLsP6bbtRsY7dQtkloC9zpB6nE7RjVERhCcdFVmjGHLiT-qK9Jcgg=s1600" alt="Random first slide"> -->
      </div>
      <div class="carousel-caption">
        <h3>Développement d'application Web / Mobile</h3>
        <p>Création et développement d'application native pour ordinateur, mobile et tablette</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper" id="picture3">
        <!-- <img src="https://lh3.googleusercontent.com/gpXpMNLYh1NGj0xJqFjBsx70J8Tqmnq8TFgOcf1mdQE0omN_gpxEKGYvqvucefAi7L2X5Z4Vo7lsgioe=s1600" alt="Random first slide"> -->
      </div>
      <div class="carousel-caption">
        <h3>Développement de logiciel</h3>
        <p>Digitalisation et solution logiciel pour les entreprises</p>
      </div>
    </ng-template>
  </ngb-carousel>

<div class="contenaire">
  <h1 id="center-grid-text">2019 - 2020</h1>
  <p id="center">___________</p>
  <br>
  <p id="center">Première année d'études à Epitech. Divers projets ont été réaliser, en grande partie en language C.</p>

  <div class="grille"> 
    <div class="grid-item" id="one"><p>Développement d'un Tower Defense en C avec la lib SFML (C / SFML)</p></div>
    <div class="grid-item" id="two"><p>Développement d'un Runner en C avec la lib SFML (C / SFML)</p></div>
    <div class="grid-item" id='three'><p>Développement d'un Sokoban en C dans le terminal (C / ncurses)</p></div>
    <div class="grid-item" id="fourth"><p>Développement d'une application mobile pour le projet Wear (Java)</p></div>
  </div>
</div>

<div class="contenaire">
  <h1 id="center-grid-text">2018 - 2029</h1>
  <h3 id="center">Bac STI2D SIN <br> Projet de Bac et projet de mes années au Lycée</h3>
  <p id="center">___________</p>
  <br>
  <p id="center">Première année d'études à Epitech. Divers projets ont été réaliser, en grande partie en language C.</p>
</div>

  <div class="grille-bac"> 
    <div class="grid-item-bac" id="one-bac"></div>
    <div class="grid-item-bac" id="two-bac"></div>
    <div class="grid-item-bac" id='three-bac'></div>
    <div class="grid-item-bac" id="fourth-bac"></div>
  </div>

  <div class="contenaire">
    <h1 id="center-grid-text">Mes projets annexes</h1>
    <p id="center">___________</p>
    <br>
    <p id="center">Passionné d'informatique, mon passe-temps depuis mes années collèges est le développement de petits projets </p>
  </div>
  
    <div class="grille-project"> 
      <div class="grid-item-project" id="one-project"><p>Développement d'un fansite de streaming pour un anime. (HTML/CSS)</p></div>
      <div class="grid-item-project" id="two-project"><p>Création d'un navigateur basique en .NET</p></div>
      <div class="grid-item-project" id='three-project'><p>Création d'un jeu en 2D pour mobile avec Unity 3D (C# / UnityScript)</p></div>
      <div class="grid-item-project" id='fourth-project'><p>The Aika Story's, jeu en 2D pour mobile (Unity 3D) </p></div>
      <div class="grid-item-project" id="five-project"><p>Création d'un jeu en 2D pour ordinateur avec Unity 3D (UnityScript)</p></div>
      <div class="grid-item-project" id="six-project"><p>Développement d'un jeu d'horreur en 3D avec Unity 3D (C#)</p></div>
      <div class="grid-item-project" id="seven-project"><p>Level design avec Unity 3D</p></div>
    </div>